.formulario{
    justify-content: center;
    text-align: center;
    
}


div .form-control{
    display: flex;
    justify-content: center;
}

/* estilo de las cartas */
.card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
  }

  .card {
    width: 300px;
    margin-bottom: 20px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }
  .card:hover {
    transform: translateY(-5px);
  }

  /* Pie de pagina */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    width: 100%;
  }
  /*contenedor de texto*/
  .text-conteiner{
    margin-left: 10%;
    margin-right: 10%;
  }
    /* titulo */
  .titulo-conteiner{
    margin: 3%;
  }

.contenedor {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100vh; /* Ajusta la altura del contenedor según la altura de la pantalla */
  }
  
  .formulario {
    width: 600px; /* Ancho deseado del formulario */
    padding: 20px; /* Espacio interno del formulario */
    border: 1px solid #ccc; /* Borde del formulario */
    background-color: #f9f9f9; /* Color de fondo del formulario */
  }

.T_sucursal{
    text-align: center;
}

.cartas{
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.card-img-suc{
    width: 400px;
    height: 300px;
}

.contenedor-sucursal{
    display: flex;
    align-items: center;
    text-align: center;
    .btn{
        background-color: green;
    }
    
}



.contenedor-form{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50%;
    

    .formulario{
        background-color: rgb(107, 97, 97);
        text-align: left;
        width: 40%;
        border-radius: 30px;
        
        h2{
            text-align: center;
        }
        .enviar{
            text-align: center;

        }
    }
}