.formulario{
    justify-content: center;
    text-align: center;
    
}


div .form-control{
    display: flex;
    justify-content: center;
}

.Card{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80vh; 
}

.contenedor {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100vh; /* Ajusta la altura del contenedor según la altura de la pantalla */
  }
  
  .formulario {
    width: 600px; /* Ancho deseado del formulario */
    padding: 20px; /* Espacio interno del formulario */
    border: 1px solid #ccc; /* Borde del formulario */
    background-color: #f9f9f9; /* Color de fondo del formulario */
  }

.T_sucursal{
    text-align: center;
}

.cartas{
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.card-img-suc{
    width: 400px;
    height: 300px;
}

.contenedor-sucursal{
    display: flex;
    align-items: center;
    text-align: center;
    .btn{
        background-color: green;
    }
    
}

.formulario{
    display: flex;
    background-color: rgb(107, 97, 97);
    justify-content: center;
    text-align: center;
    align-items: center;
}
